*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

.contact{
    display: flex;
    margin: 0 auto;
}

.main-infor{
    text-align: center;
}

.main-infor img{
    height: 200px;
    width: 200px;
}

.primary-logo-text_contact{
    color: #333333;
    font-size: 35px;
}

.second-logo-text_contact{
    color: #F4B183;
}

.gg-map iframe{
    border-radius: 7px;
}
.navbar{
    position: static !important;    
}

.expand-left{
    top: 120px;
}

.table{
    text-align: center;
}

.cart-product_image{
    height: 180px;
}

thead{
    font-size: 13px;
}

tbody{
    font-size: 13px;
}

.cart-product_image img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-product_qty input{
    width: 30px;
    text-align: center;
}

.del-product:hover{
    text-decoration: underline;
    cursor: pointer;
}