*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    display: block;
}

a{
    text-decoration: none !important;
}

/*--------Header---------*/

.navbar{
    z-index: 2;
    display:block;
    position:fixed;
    top: 0;
    border-bottom: 1px solid #d3cbcb!important;
    background-color:white;
    width: 98%;
}

.primary-logo-text{
    color: #F4B183; 
}

.second-logo-text{
    color: #333333;
}

.navbar-brand img{
    height: 50px;
    width: 50px;
}

.navbar-brand span{
    font-size: 30px;
}

.cross-vertical{
    border-right: 3px solid #333333!important;
    height: 35px;
    margin-top: 14px;
}

.nav-link{
    color: #333333 !important;
    margin-left: 20px;
    font-size: 20px;
}

.nav-item-text{
    display: flex;
    margin:6px 35px 0 35px;
    text-align: center;
}

.nav-item-text a:hover{
    color: #F4B183 !important;
}

.icon-cart{
    margin-top: 6px;
}

.cart-button{
    border: none;
    outline: none;
    background-color:white;
}

.cart-button:hover{
    color: #F4B183 !important;
}

.show-qty{
    margin-top: 5px;
}

/*--------Carousel--------------*/

.carousel{
    margin-top: 120px;
    overflow: hidden;
    margin-left: 0px;
}

.carousel-item{
    z-index: 1;
    height: 600px;
}

.carousel-item img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-name{
    color: white;
}

.carousel-name:hover{
    color:white;
}

/*--------List-Products---------*/

.list-products{
    z-index: 1;
}

.product{
    display: block;
    margin-top: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 400px;
}

.product-image{
    width:100%;
    height: 300px;
}

.product-image:hover{
    zoom: 1.2;
    border: 1px solid #333333;
}

.product-image img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-name{
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    font-size: 13px;
    white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  text-align: center;
  padding: 0 3px 0 3px;
  margin-bottom: 5px;
}

.product-name:hover{
    background-color: #F4B183;
    color: #333333;
}

.product-brand{
    text-transform: uppercase;
    color:#F4B183;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

.product-brand:hover{
    background-color: #F4B183;
    color: azure;
}

.product-price{
    color: #333333;
    font-size: 12px;
    margin-bottom: 5px;
}

.product-price:hover{
    color: #333333;
}

.product button{
    color: #333333;
    border: none;
    outline: none;
    background-color:white;
}

.add-car{
    color: #333333;
}

.product button:hover{
    background-color: #F4B183;
    color: azure;
}

/*-----------pagination----------------*/

.page-item a{
    color: #333333 !important;
}


/*---------------------Expand-left---------------------------------*/

.expand-left{
    z-index: 2;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.4);
    left: 0;
    margin-top: -40px;
}

@keyframes showContent {
    from {
      left: -200px;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }

.expand-content {
    padding: 20px 10px 10px 10px ;
    width: 389px;
    background-color: rgb(255, 255, 255);
    color: rgba(54, 41, 31, 0.7);
    animation: showContent ease-out 1s;
}

.brand {
    display: flex;
    margin-bottom: 50px;
    height: 160px;
}


.image img{
    height: 170px;
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
}

.des {
    margin-left: 10px;
    text-align: justify;
}

.des img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 100px;
    cursor: pointer;
}

.brand-name{
    margin: 5px 0 5px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.brand-name a{
    color: rgba(54, 41, 31, 0.7);
}

.brand-name a:hover{
    color: rgba(54, 41, 31, 1);
}

.des span {
    font-size: 13px;
}

.prev {
    margin: 280px 0 0 20px;
    font-size: 45px;
    color: rgba(54, 41, 31, 0.4);
    cursor: pointer;
}

.prev:hover {
    color: rgba(54, 41, 31, 0.8);
}

.hide{
    display: none;
}

/*-----------Cart----------------*/


.table{
    text-align: center;
}

.cart-product_image{
    height: 180px;
}

thead{
    font-size: 13px;
}

tbody{
    font-size: 13px;
}

.cart-product_image img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cart-product_qty input{
    width: 30px;
    text-align: center;
}

.del-product:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*-----------footer----------------*/
.footer{
    display: flex;
    border-top: 1px solid #d3cbcb!important;
    padding-top: 40px;
}